name: CI Mvn

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Build project with Maven
        working-directory: Projeto-DevSecOps-Mvn
        run: mvn -B package

      - name: Run tests
        working-directory: Projeto-DevSecOps-Mvn
        run: mvn test
